:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --header-height: 100px;
    --body-height: 10px;
  }
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
   
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: fixed;
    width: 100%;
    background-color: var(--blue);
    height: var(--header-height);
    align-items: center;
    z-index: 1;
    color: white;
    
}

.item{
    list-style-type: none;
}
