:root {
    --blue: #182580;
    --white: #ffffff;
    --header-height: 100px;
    --body-height: 10px;
  }
  @font-face {
    font-family: gamerfont;
    src: url(font/neuropol\ x\ rg.otf);
  }
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gamerfont;
}

body{
  background-image: url(images/background.jpg);
  background-repeat: repeat;
  background-size: auto;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
  text-decoration: underline;
}

.headerLogo {
  filter: brightness(1.6) contrast(5);
}

.headerGS{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    width: 100%;
    background: linear-gradient(to top, transparent, #ccc);
    align-items: center;
    z-index: 1;
    color: white;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    
}
.headerGS a:hover{
  text-decoration: none;
  color: white;
}

input[type="number"] {
  width: 60px;
}

input[type="file"] {
  max-width: 100%;
}

.left {
  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.itemGS{
    list-style-type: none;
}
.itemGS a{
  color: white;
}

.gameTableScroll {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}
.finalPrice{
  padding-bottom: 10px;
}
.gameTable{
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
}
.gameTable td{
  padding: 10px;
  background-color: lightgray;
}

.hidden-on-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.carrouselGS{
  margin: auto;
}

.insertGameForm{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.gameSelect{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}
.contactFrom{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.contactFormAlter{
  margin: auto;
  padding: 20px;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.admin{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.gameSelect{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}
.gameStockUpdate{
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}
.sendAdd{
text-align: left;

}

.tableAdm{
  margin: auto;
  padding-top: 10px;
}

#admins{
  font-weight: bold;
}

.marca{
  color: red;
}