:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --header-height: 100px;
    --body-height: 10px;
  }
  @font-face {
    font-family: gamerfont;
    src: url(font/PixelGamerPersonalUse-rg61L.otf);
  }
*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.headerGS{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: fixed;
    width: 100%;
    background-color: var(--blue);
    height: var(--header-height);
    align-items: center;
    z-index: 1;
    color: white;
    
}

.itemGS{
    list-style-type: none;
}
.itemGS a{
  color: #ffffff;
}

.gameTable{
  margin: auto;
}

.carrouselGS{
  margin: auto;
}
.insertGameForm{
  margin: auto;
}
.insertGameForm{
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 500px;
  border: 2px solid black;
  border-radius: 10px;
}

